<a routerLink="/admin-space/candidats/add" class="btn btn-info">
    Ajouter un candidat
</a>
<table class="table table-striped">
    <thead>
        <tr class="dark">
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Email</th>
            <th scope="col">Numéro de Carte d'Identité</th>
            <th scope="col">Photo</th>
            <th scope="col">Mot de Passe</th>
            <th scope="col">Editer</th>
            <th scope="col">Supprimer</th>
        </tr>
    </thead>
    <tbody>
        @for(candidat of candidats;track $index){
        <tr>
            <th scope="row">{{ candidat.id }}</th>
            <td>{{ candidat.nom }}</td>
            <td>{{ candidat.prenom }}</td>
            <td>{{ candidat.email }}</td>
            <td>{{ candidat.numeroCarteIdentite }}</td>
            <td><img [src]="candidat.photo" alt="photo de {{candidat.nom}}" width="50"></td>
            <td>{{ candidat.motDePasse }}</td>
            <td><a class="btn btn-success" [routerLink]="['/admin-space','candidats', 'edit', candidat.id]">Editer</a></td>
            <td><button class="btn btn-danger" (click)="deleteCandidat(candidat.id)">Supprimer</button></td>
        </tr>
    }
    </tbody>
</table>
