<h2>Ajout d'un nouvelle formation :</h2>
<form id="addForm" (ngSubmit)="addFormation(f)" #f="ngForm">
    <div class="mb-3">
        <label for="titre" class="form-label">Titre*</label>
        <input type="text" class="form-control" id="titre" name="titre" #titre="ngModel" ngModel required />
        @if (titre.invalid && titre.touched) {
        <span class="error">Ce champ est obligatoire!</span>
        }
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description*</label>
        <input type="text" class="form-control" id="description" name="description" #description="ngModel" ngModel required />
        @if (description.invalid && description.touched) {
        <span class="error">Ce champ est obligatoire!</span>
        }
    </div>
    <div class="mb-3">
        <label for="chargeHoraire" class="form-label">Charge Horaire*</label>
        <input type="number" class="form-control" id="chargeHoraire" name="chargeHoraire" #chargeHoraire="ngModel" ngModel required />
        @if (chargeHoraire.invalid && chargeHoraire.touched) {
        <span class="error">Ce champ est obligatoire!</span>
        }
    </div>      
    <div class="mb-3">
        <label for="programme" class="form-label">Programme*</label>
        <input type="text" class="form-control" id="programme" name="programme" #programme="ngModel" ngModel required />
        @if (programme.invalid && programme.touched) {
        <span class="error">Ce champ est obligatoire!</span>
        }
    </div>   
    <div class="mb-3">
        <label for="niveauDifficulte" class="form-label">Niveau de Difficulté*</label>
        <input type="text" class="form-control" id="niveauDifficulte" name="niveauDifficulte" #niveauDifficulte="ngModel" ngModel required />
        @if (niveauDifficulte.invalid && niveauDifficulte.touched) {
        <span class="error">Ce champ est obligatoire!</span>
        }
    </div> 
    <div class="mb-3">
        <label for="motsCles" class="form-label">Mots Clés*</label>
        <input type="text" class="form-control" id="motsCles" name="motsCles" #motsCles="ngModel" ngModel required />
        @if (motsCles.invalid && motsCles.touched) {
        <span class="error">Ce champ est obligatoire!</span>
        }
    </div>
    <div class="mb-3">
        <label for="categories" class="form-label">Catégories*</label>
        <input type="text" class="form-control" id="categories" name="categories" #categories="ngModel" ngModel required />
        @if (categories.invalid && categories.touched) {
        <span class="error">Ce champ est obligatoire!</span>
        }
    </div>        
    <button type="submit" name="btnValidAdd"
    class="btn btn-warning" [disabled]="f.invalid">
    Valider
    </button>
    <div>*: Champs obligatoires</div>
</form>