<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-md-8 mx-auto">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Rechercher une formation" [(ngModel)]="searchText" (keyup.enter)="searchFormations()">
                <button class="btn btn-primary" type="button" (click)="searchFormations()">Rechercher</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div *ngFor="let formation of formations" class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{formation.titre}}</h5>
                    <p class="card-text">{{formation.description}}</p>
                    <div class="tags mb-2">
                        <span *ngFor="let tag of formation.tags" class="badge bg-secondary me-1">{{tag}}</span>
                    </div>
                    <a [routerLink]="['/formations', formation.id]" class="btn btn-primary">Voir les détails</a>
                </div>
            </div>
        </div>
    </div>
</div>